<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Sample paypal payment</h1>
    <center>
    <form  method="POST" action="/pay" >
  
   
    <input type="text" name="payamount">
    <input type="submit" value="pay" >
   
</form>
</center>

</body>
</html>